* text=auto !eol
/AUTHORS -text
/COPYING -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-por.pc.in -text
/apertium-por.por.acx -text
/apertium-por.por.dix -text
/apertium-por.por.rlx -text
/apertium-por.por.tsx -text
/apertium-por.post-por.dix -text
/configure.ac -text
/filter.sh -text
/filter.xsl -text
/modes.xml -text
/por.prob -text svneol=unset#unset
texts/akatsuki.tagged.txt -text
texts/akatsuki.txt -text
texts/akatsuki.vislcg.txt -text
texts/bering.tagged.txt -text
texts/bering.txt -text
texts/bering.vislcg.txt -text
texts/beringia.txt -text
texts/beringia.vislcg.txt -text
texts/cultura.tagged.txt -text
texts/cultura.txt -text
texts/cultura.vislcg.txt -text
texts/música.txt -text
texts/música.vislcg.txt -text
texts/raio.tagged.txt -text
texts/raio.txt -text
texts/raio.vislcg.txt -text
texts/água.txt -text
texts/água.vislcg.txt -text
